<form action="/login" method="POST">
  <input id="Username" type="text" name="user[username]" placeholder="e.g. JiveTurkey"><br><br>
  <input id="Email" type="text" name="user[email]" placeholder="e.g. jive@turkey.com"><br><br>
  <input id="Password" type="password" name="user[password]" placeholder="e.g. 1234"><br><br>
  <input type="submit" value="Submit" /><br><br>
</form>
