<form action="/users/new" method="post">
  <input type="text" name="user[username]" placeholder="e.g. JiveTurkey">
  <input type="email" name="user[email]" placeholder="e.g. jive@turkey.com">
  <input type="password" name="user[password]" placeholder="e.g. 1234">
  <input type="submit" value="submit">
</form>
